version: '3.8'

services:
  webapi:
    build:
      context: ..
      dockerfile: StoneFlowersApi/Dockerfile
    ports:
      - "8080:8080" # Маппинг порта хоста 8080 на порт контейнера 8080    
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

  postgres:
    image: postgres:latest
    environment:
      - POSTGRES_USER=userdb
      - POSTGRES_PASSWORD=PasswordDb
      - POSTGRES_DB=StoneFlower
    ports:
      - "5432:5432" # Маппинг порта PostgreSQL
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U userdb -d StoneFlower"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - postgres-data:/var/lib/postgresql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data: